/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';

.inline {
    display: inline-flex;
}

.full-page {
    width: 100%;
}

.left-side {
    width: 30%;
}

.right-side {
    width: 60%;
}